@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: #2d2e32;
  /* outline: 1px red solid; */
}

li {
  list-style: none;
}

/* HEADER */

header .menu {
  width: 100%;
  height: 12vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

header .menu h2 {
  font-size: 2rem;
}

header .menu .menu-lista {
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
}

/* INÍCIO */

span {
  color: #335cff;
}

.inicio .container {
  padding: 4rem 0;
  background-color: #f9f9f9;
}

.inicio-texto {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 0 2rem;
  gap: 1rem;
}

.inicio-texto h1 {
  font-size: 2rem;
  font-weight: 900;
}

.inicio-texto h2,
h3 {
  font-weight: 500;
}

.inicio-conteudo {
  display: flex;
  justify-content: center;
}

.inicio-tecnologias {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inicio-imagem {
  /* margin-top: 2rem; */
  width: 14rem;
  height: 14rem;
  background-image: url(img/perfil.jpg);
  background-size: cover;
  background-position: 50%;
}

.inicio-icones .icones {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.icones li img {
  width: 3rem;
  height: 3rem;
}

.inicio-tecnologias {
  padding-top: 2rem;
}

.inicio-tecnologias .icones {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

/* SOBRE */

.sobre .container {
  padding: 4rem 0;
}

.sobre h3 {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 2rem;
}

.sobre-conteudo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.sobre-imagem {
  /* margin-top: 2rem; */
  width: 25rem;
  height: 25rem;
  background-image: url(img/about.svg);
  background-size: cover;
  background-position: 50%;
}

.sobre-texto {
  width: 40%;
  text-align: justify;
  font-size: 1.4rem;
  line-height: 2rem;
}

/* PROJETOS */

.projetos .container {
  background-color: #f9f9f9;
}

.projetos h3 {
  font-size: 2rem;
  text-align: center;
  padding: 2rem 0;
}

.projetos-cards {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.projetos .container {
  padding-bottom: 4rem;
}

.projetos-cards li {
  width: 20rem;
  height: 20rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.projetos-cards li div {
  padding: 2rem;
  text-align: center;
}

.projetos-cards li img {
  width: 100%;
}
